body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.loader {
  text-align: center;
}

.logo {
  width: 100px; /* Adjust width as needed */
  height: auto;
  margin-bottom: 20px;
}

.loader-icon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 4px solid #3498db;
  border-top: 4px solid transparent;
  animation: spin 1s linear infinite;
  margin: 0 auto 20px auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loading-text {
  font-size: 18px;
  color: #555;
  font-weight: bold; /* Making the text bold */
}
